* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: url('https://images.unsplash.com/photo-1549778399-f94fd24d4697?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(99, 96, 96, 0.4); /* Transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

#title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 1.8em;
    
}

#description {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 1.15em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

input, select, textarea, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}

fieldset {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s step-start;
}

button:hover {
    background-color: #2eda2e;
}
#dropdown {
    color: #0a0a0a;
}
.color-white{
    color: white;
    font-size: 1.10em;
}
